:root {
  --peach: #ff8b56;
  --charcoal: #1a1a1a;
  /* --charcoal: #313131; */
}
.navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: var(--charcoal) !important;
}

.logo {
  width: 350px;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 250px;
  }
}
