:root {
  --peach: #ff8b56;
  --charcoal: #313131;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #fab494 !important; */
  /* background-image: linear-gradient(135deg, #f78a9c, #ff8b56); */
  background-image: linear-gradient(135deg, #f78a9c, #ff8b56, #a556ff);
  font-family: "Montserrat" sans-serif !important;
  font-weight: 300;
  color: var(--peach) !important;
}

.tech-i {
  font-size: 10rem !important;
  margin: 30px;
}

.peach-text {
  color: var(--peach);
}

.custom-orange-btn {
  background-color: white;
  color: var(--charcoal);
  border: 1px solid var(--charcoal);
  border-radius: 4px;
  padding: 5px;
  transition: ease 250ms;
}

.custom-orange-btn:hover {
  background-color: var(--charcoal);
  color: white;
}
